# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and environments
.env
.venv
env/
venv/
.pytest_cache/
.ipynb_checkpoints/

# Operating System files
.DS_Store
Thumbs.db

# Material de aula com chaves e direitos autorais do professor
resources/

